@font-face {
  font-family: 'MoreSugar';
  src: url('./fonts/more-sugar.thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff2e1;
}

.header {
  text-align: center;
}

.more-sugar-font {
  font-family: 'MoreSugar', sans-serif;
}