@font-face {
  font-family: 'MoreSugar';
  src: url('./fonts/more-sugar.thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --primary-color: 255, 209, 68;
  --secundary-color: #861800;
}

body {
  background-color: #fff2e1;
}

.header {
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.semanas {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
}
